.profile {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px
}
.userInfo {
    width: auto;
    display:flex;
    flex-direction: column;
  
    padding: 5px;
    height: 30%;
   
}

.user-options{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsfeed{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
   
}
.newsfeed h1{
    text-align: center;
}

.feed{
    height: 80%;
    overflow: auto;
}

.users {
    display:flex;
    flex-direction: column;
    width: 50%;
}



.user-image img{
    height:200px;
    width: 200px;
    border-radius: 50%;
}

.user-detail h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-detail p{
    text-align: center;
}



.requests {
    display:flex;
    flex-direction: row;
}



.request-buttons{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
}

.profile button{
    margin-top:10px;
    height: 20px;
}

.all-users {
    width: 100%;
}

.all-users input{
    width: 75%;
    margin-right: 18px;
    border-radius: 5px;
}


.user-friend p{
    margin-top: 10px;
}

.user-friend{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-user p{
    margin-top: 10px;
}

.user-info{
    display: flex;
    flex-direction: row
}

.delete-friend{
    color: red;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: red;
    width: 60px;
    text-align: center;
    height: 22px;
}

.add-friend{
    color:  #438f44;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color:  #438f44;
    width: 50px;
    height: 22px;
    text-align: center;
}

.friends{
    margin-top: 20px;
}

