.body {
    display: flex;
    flex-direction: row;

}

.tripInfo {
    display: flex;
    flex-direction: column;
}

.tripNavBar {
    display: flex;
    flex-direction: row;
}

.general {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column
}