.trip-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tripInfo {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 70%;
    justify-content: center;
    padding: 30px;
}

.trip-image {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.tripNavBar {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.tripNavBar p {
    border: black;
    border-style: double;
}

.general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trip-options {
    padding-top: 10px;
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chatFeature {
    width: 30%;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 5;
    height: 100%;
    border-left-style: groove;
    border-color: black;
}

.chat-input form input {
    width: 80%;
}