body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit-item{
  background-color:#438f44;
  border-radius: 5px;
  color: black;
}

.delete-item{
  background-color: red;
  border-radius: 5px;
  color: black
}

.chat-message p{
  background-color: #dbdad7;
  border-radius: 5px;
  width: auto;
  padding: 5px;
}

.user-chat-message p{
  background-color: #438f44;
  border-radius: 5px;
  padding: 5px;
}

.chat-input button {
  background-color: #438f44;
  color: black
}