body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit-item{
  /* background-color:#438f44;
  border-radius: 5px; */
  color: #438f44;
}

.delete-item{
  /* background-color: red;
  border-radius: 5px; */
  color: red
}

.chat-message p{
  background-color: #dbdad7;
  border-radius: 5px;
  max-width: 40%;
  padding: 5px;
}

.user-chat-message p{
  background-color: #438f44;
  border-radius: 5px;
  padding: 5px;
  max-width: 60%
}

.chat-input button {
  background-color: #438f44;
  color: black
}

.trail-info-body{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trail-content{
  width: 100%;
}

.trail-row{
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}





