body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit-item:hover{
  /* background-color:#438f44;
  border-radius: 5px; */
  color: #438f44;
}

.delete-item:hover{
  color: red;
}


.delete-item{
  /* background-color: red;
  border-radius: 5px; */
  margin-left: 15px;
}

.chat-message{
  margin-bottom: 5px;
}

.user-chat-message{
  margin-bottom:5px;
}

.chat-message p{
  background-color: #dbdad7;
  border-radius: 5px;
  width: auto;
  max-width: 40%;
  padding: 5px;
  margin-left: 5px;
}

.user-chat-message p{
  background-color: #438f44;
  border-radius: 5px;
  padding: 5px;
  width: auto;
  max-width: 60%;
  margin-right: 5px;
}

.chat-input button {
  background-color: #438f44;
  color: black;
  border-radius: 5px;
}

.trail-info-body{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trail-content{
  width: 100%;
}

.trail-row{
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.table-buttons{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.add-friends-dropdown{
  margin-left: 0;
}

.basic-multi-select{
  margin-bottom: 10px;
}

.trip-card-body{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}


.trips-container{
  margin-top: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.trip-container h1{
  margin-bottom: 10px
}

.trip-card-body img{
  height: 125px;
  width: 190px;
}

.trip-card-details {
  margin-left: 50px;
}

.trips-container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trips-container-header div{
  margin-top: 10px;
}

.edit-user:hover{
  color:  #438f44
}

.delete-user:hover{
  color: red
}

.gear-table-container{
  margin-bottom: 50px;
}

.gear-table-container form{
  text-align: center;
}

.gear-table-container input{
  border-radius: 5px;
  margin-left: 5px
}

.gear-table-container form label{
  margin-left: 10px;
}

.gear-table-container button{
  margin-left: 10px;
  background-color: #438f44;
  height:22px;
  border-radius: 5px;
}


.food-plan-container form{
  text-align: center;
}

.members-list-col{
  margin-bottom: 50px;
}
